body{
	margin:0;
	padding:0;
}

/* HEADER STYLE*/

header {
	width:100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	
	margin:0;
	padding:0;
	background-color: #505050;

	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

header a {

	text-decoration:none;
	color: white;
}

header h1 {

	font-family: 'Coda Caption', sans-serif;
	font-size: 30;
	text-align: left;
	color: white;
	padding: 0;
	margin:1em;
}

nav ul{
	
	font-family: 'Markazi Text', serif;
	margin:2em;
	padding:0;

}

nav li{
	display: inline;
	margin: 2em;
}

nav a:hover{
	color:black;
	background-color: yellow;
	}

.hero-page {
	/*opacity: 0.5;*/
	width: 100%;
	max-width: 1920;
	display:block;
	margin: auto;
	margin-bottom:1em;
}

footer{
	background-color: #505050;
	color: white;
	text-align:center;
}

div.flexContioner{
/*	background-color: red;*/
	width:80%;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	margin:auto;
}


p.flexContioner{
	font-family: 'Coda Caption', sans-serif;
	font-size: 20;
	text-align: left;
}

.Follow{
	color:grey;
	/*font-family: 'Coda Caption', sans-serif;*/
	font-size: 8;

}

/*Broken point*/

@media only screen and (max-width: 701px) {

div.flexContioner{
/*	background-color: red;*/
	width:80%;
	display:flex;
	flex-wrap: wrap;
/*	flex-flow: column wrap;
    flex-direction: column;*/
	justify-content: center;
	align-items: baseline;
	margin:auto;
}

}

footer a{
	color: white;
	text-decoration: none;
}

.social {
width:1.5em;
margin:1em;
}


.intro{
	width:30em;
/*	background-color: grey;*/
	font-size: 9;
	text-align: center;
	/*padding:4em;*/
}



.Andy{
	/*background-color: green;*/
	width:50%;
	/*padding: 2em;*/
}

h2.Andy{
	margin-top: 0; 
	margin-left: 1em;
/*	margin-left: 2%;*/
	width:100%;
	font-family: 'Coda Caption', sans-serif;
	font-size: 48;
}

p.Andy{
	margin:1em;
	/*padding: 2em;*/
	display:block;
	width:100%;
	font-size: 14;
	font-weight: bold;
	padding: 1em;
}

div.flexBox{
	/*background-color: red;*/

	width:80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:10em auto;
	/*padding:20;*/
}
